/*iOS自动布局留间隙,也是8px*/
* {margin: 0;padding: 0;list-style:none;}
/*头，默认左上*/
.header,.logo {
    height: 100px;
}
body {
    background: #f6f6f6;
    font-family:"宋体","微软雅黑";
}
a {
    text-decoration: none;
    outline: none;
}
/*搜索*/
.search {
    text-align: right;
    margin-top: -50px;
    margin-right: 10px;
}
.placeholder{
    height:30px;
    padding:0 3% 0 3%;
    background-color:#fff;
    border:1px solid #c8c8c8;
    border-radius:3px;
    color:#ccc;
    font-weight:400;
    font-size:1.2em
}

/*导航栏*/
.nav {
    height: 50px;
    background-color: #6999cf;
}
.nav_content {
    /*居中*/
    margin: 0 auto;
    width: 850px;
    height: 100%;
}
.nav_content ul {
    /*居中*/
    margin: 0 auto;
    list-style-type: none;
    overflow: hidden;
}
.nav_content li {
    float: left;
}
.nav_content li a, .drop_btn {
    color: white;
    width: 100px;
    display: inline-block;
    text-align: center;
    line-height: 50px;
}
.nav_content li a:hover, .drop_down:hover .drop_btn{
    /*移到导航栏上的颜色*/
    background-color: dodgerblue;
}
/*下拉菜单*/
.drop_down {
    display: inline-block;
}
.drop_down:hover .drop_content {
    /*drop_down:hover状态时，显示drop_content*/
    display: block;
}
.drop_content {
    /*消除之前的display状态*/
    display: none;
    /*绝对位置*/
    position: absolute;
    z-index: 100;
    background-color: #6999cf;
    min-width: 100px;
}
.drop_content a {
    /*drop_content中<a>标签状态*/
    color: white;
    padding: 10px 16px;
    display: block;
}
.drop_content a:hover {
    /*drop_content中a:hover状态时的颜色*/
    background-color: #333333;
}

/*内容*/
.wzzcontent {
    margin: 0 auto;
    width: 1200px;
    height: 568px;
    background-color: white;
    position: relative;
}
/*轮播图*/
.wrap{
    top: 10px;
    left: 10px;
    height:300px;
    width:550px;
    overflow: hidden;
    position: relative;
    float: left;
}
.wrap ul{
    position:absolute;
}
.wrap ul li{
    height:300px;
}
.wrap ol{
    position:absolute;
    right:5px;
    bottom:10px;
}
.wrap ol li{
    height:20px; width: 20px;
    background:#ccc;
    border:solid 1px #666;
    margin-left:5px;
    color:#000;
    float:left;
    text-align:center;
    cursor:pointer;
}
.wrap ol .on{
    background:#6999cf;
    color:#fff;
}
/*新闻快讯*/
.news {
    background-color: white;
    float: left;
    margin-left: 20px;
    margin-top: 10px;
    width: 620px;
    height: 300px;
}
.news h2, .achievements h2, .scholarisms h2 {
    background-color: #6999cf;
    height: 32px;
    line-height: 32px;
    font-weight: normal;
}
.news h2 a, .achievements h2 a, .scholarisms h2 a {
    color: white;
    float: right;
    font-size: 12px;
    padding-right: 8px;
}
.news h2 span, .achievements h2 span, .scholarisms h2 span {
    color: white;
    font-size: 14px;
    float: left;
    padding-left: 10px;
}
.news ul {
    margin: 0px;
}
.news ul li {
    background: url("../resource/img/rightarrow.png") no-repeat left center;
    overflow: hidden;
    padding-left: 15px;
    height: 24px;
}
.news ul li a {
    color: black;
    float: left;
    font-size: 13px;
    padding-left: 5px;
    display: block;
    line-height: 24px;
    /*限制文本长度*/
    width: 400px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.news ul li a:hover {
    color: red;
}
.news ul li span {
    float: right;
    display: block;
    /*限制文本长度*/
    width: 50px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
/*团队成就*/
.achievements {
    background-color: white;
    margin-top: 10px;
    margin-left: 10px;
    float: left;
    width: 550px;
    height: 238px;
    border: #dfdfdf 1px solid;
}
/*学术动态*/
.scholarisms {
    background-color: white;
    margin-top: 10px;
    margin-left: 10px;
    float: left;
    width: 620px;
    height: 238px;
    border: #dfdfdf 1px solid;
}

/*尾巴*/
.weiba {
    height: 50px;
    background-color: #6999cf;
    text-align: center;
    color: white;
}