/*iOS自动布局留间隙,也是8px*/
* {margin: 0;padding: 0;list-style:none;}
/*头，默认左上*/
.header,.logo {
    height: 100px;
}
.header h1 {
    text-align: left;
    margin-top: -97px;
    margin-left: 120px;
    font-size: 45px;
}
.header h4 {
    text-align: left;
    margin-top: -10px;
    margin-left: 122px;
    font-size: 22px;
}
body {
    background: #f6f6f6;
    font-family:"宋体","微软雅黑";
}
a {
    text-decoration: none;
    outline: none;
}
/*搜索*/
.search {
    text-align: right;
    margin-top: -40px;
    margin-right: 40px;
}
.placeholder{
    height:30px;
    padding:0 3px 0 3px;
    background-color:#fff;
    border:1px solid #c8c8c8;
    border-radius:3px;
    color:#ccc;
    font-weight:400;
    font-size:1.2em
}

/*导航栏*/
.nav {
    height: 50px;
    background-color: #2E6EBA;
}
.nav_content {
    /*居中*/
    margin: 0 auto;
    width: 850px;
    height: 100%;
}
.nav_content ul {
    /*居中*/
    margin: 0 auto;
    list-style-type: none;
    overflow: hidden;
}
.nav_content li {
    float: left;
}
.nav_content li a, .drop_btn {
    color: white;
    width: 100px;
    display: inline-block;
    text-align: center;
    line-height: 50px;
}
.nav_content li a:hover, .drop_down:hover .drop_btn{
    /*移到导航栏上的颜色*/
    background-color: dodgerblue;
}
/*下拉菜单*/
.drop_down {
    display: inline-block;
}
.drop_down:hover .drop_content {
    /*drop_down:hover状态时，显示drop_content*/
    display: block;
}
.drop_content {
    /*消除之前的display状态*/
    display: none;
    /*绝对位置*/
    position: absolute;
    z-index: 100;
    background-color: dodgerblue;
    min-width: 100px;
}
.drop_content a {
    /*drop_content中<a>标签状态*/
    color: white;
    padding: 10px 16px;
    display: block;
}
.drop_content a:hover {
    /*drop_content中a:hover状态时的颜色*/
    background-color: #333333;
}

/*内容*/
.wzzcontent {
    margin: 0 auto;
    width: 1200px;
    height: 930px;
    background-color: white;
    position: relative;
}
/*轮播图*/
#pic img{
    width: 100%;
    height: auto;
}
.wzzcontent .wrap{
    top: 10px;
    left: 10px;
    height:300px;
    width:450px;
    overflow: hidden;
    position: relative;
    float: left;
}
.wzzcontent .wrap ul{
    position:absolute;
}
.wzzcontent .wrap ul li{
    height:300px;
}
.wzzcontent .wrap ol{
    position:absolute;
    left:10px;
    bottom:3px;
}
.wzzcontent .wrap ol li{
    height:20px; width: 25px;
    background:#ccc;
    margin-left:5px;
    color:#000;
    float:left;
    text-align:center;
    cursor:pointer;
}
.wzzcontent .wrap ol .on{
    background:#2E6EBA;
    color:#fff;
}
/*新闻快讯*/
.news, .scholarisms {
    background-color: white;
    float: left;
    margin-left: 20px;
    margin-top: 10px;
    width: 720px;
    height: 300px;
}
.news h2, .achievements h2, .scholarisms h2, .platform h2 {
    background-color: #2E6EBA;
    height: 32px;
    line-height: 32px;
    font-weight: normal;
}
.news h2 a, .achievements h2 a, .scholarisms h2 a {
    color: white;
    float: right;
    font-size: 12px;
    padding-right: 8px;
}
.news h2 span, .achievements h2 span, .scholarisms h2 span, .platform h2 span {
    color: white;
    font-size: 14px;
    float: left;
    padding-left: 10px;
}
.news ul, .scholarisms ul {
    margin: 0px;
}
.news ul li, .scholarisms ul li {
    background: url("../resource/img/rightarrow.png") no-repeat left center;
    overflow: hidden;
    padding-left: 15px;
    height: 24px;
}
.news ul li a, .scholarisms ul li a {
    color: black;
    float: left;
    font-size: 13px;
    padding-left: 5px;
    display: block;
    line-height: 24px;
    /*限制文本长度*/
    width: 600px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.news ul li a:hover, .scholarisms ul li a:hover {
    color: red;
}
.news ul li span, .scholarisms ul li span {
    float: right;
    display: block;
    /*限制文本长度*/
    width: 75px;
    text-overflow: ellipsis;
    text-align: right;
    white-space: nowrap;
    overflow: hidden;
}
/*团队成就*/
.achievements {
    background-color: white;
    margin-top: 10px;
    margin-left: 10px;
    float: left;
    width: 550px;
    height: 238px;
}
/*轮播图*/
#achpic img{
    width: 100%;
    height: auto;
}
.achievements .achwrap{
    height:206px;
    width:550px;
    overflow: hidden;
    position: relative;
    float: left;
}
.achievements .achwrap ul{
    position:absolute;
}
.achievements .achwrap ul li{
    height:300px;
}
.achievements .achwrap ol{
    position:absolute;
    left:180px;
    bottom:3px;
}
.achievements .achwrap ol li{
    height:15px; width: 25px;
    background:#ccc;
    margin-left:5px;
    color:#000;
    float:left;
    text-align:center;
    cursor:pointer;
}
.achievements .achwrap ol .on{
    background:#2E6EBA;
    color:#fff;
}

/*项目动态*/
.scholarisms {
    background-color: white;
    margin-top: 10px;
    margin-left: 10px;
    float: left;
    width: 620px;
    height: 238px;
}
.platform {
    margin-top: 10px;
    margin-left: 10px;
    width: 1180px;
    height: 300px;
    float: left;
}
.platform img {
    margin-left: 130px;
    margin-top: 40px;
    height: 100px;
    width: auto;
}

/*尾巴*/
.weiba {
    height: 50px;
    background-color: #2E6EBA;
    text-align: center;
    color: white;
}